@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,400;1,700&display=swap');
body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}
#app {}

.sticky-menu {
  transition: all 0.25s ease-in-out;
  font-weight: 700;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  left: 40px;
  bottom: 40px;
  margin-bottom: 30px;
  width: calc(100% - 80px);
  height: 0;
  background: #000;
  visibility: hidden;
  opacity: 0;
  z-index: 20;
  border-radius: 30px 30px 0px 0px;
  color: #fff;
  padding-top: 10px;
  .sm-wrapper {
    transition: all 0.25s ease-in-out;
    padding-bottom: 40px;
    .slide-menu {
      transition: all 0.25s ease-in-out;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      .slide-menu--item {
        font-size: 28px;
        text-transform: uppercase;
        button {
          font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
          border: none;
          font-size: 28px;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          user-select: none;
          -webkit-appearance: none;
          background: #000;
          color: #FFF;
          padding: 8px 16px;
          span {
            position: absolute;
            right: 0;
            padding: 0 10px;
            cursor: pointer;
          }
        }
        a {
          display: block;
          padding: 8px 16px;
          color: #fff;
          text-decoration: none;
        }
        .slide-menu-item {
          display: none;
          background: #000;
          visibility: hidden;
          opacity: 0;
          height: 0;
          width: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          position: absolute;
          right: -100%;
          top: 0;
          a {
            display: block;
            padding: 8px 16px;
            color: #fff;
            text-decoration: none;
          }
          .back {
            position: absolute;
            padding: 10px;
            cursor: pointer;
          }
          &.active {
            display: block;
            visibility: visible;
            opacity: 1;
            height: auto;
          }
        }
      }
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  @media (min-width: 680px) {
    max-width: 350px;
  }
}
.is-open {
  transition: all 0.25s ease-in-out;
  transform: translate(-100%);
}

.close {
  font-size: 28px;
}

.sticky-menu--nav {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: calc(100% - 80px);
  border-radius: 60px;
  overflow: hidden;
  z-index: 20;
  button {
    border: none;
    padding: 20px;
    user-select: none;
    -webkit-appearance: none;
    width: 100%;
    background: #000;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
  }
  @media (min-width: 680px) {
    max-width: 350px;
  }
}